target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class

*.log

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.classpath
.project
.settings/
.factorypath

.idea/
*.iws
*.iml
*.ipr

.vscode/

*.swp
*.swo
*~
